{
  "plugins": [
    "transform-flow-strip-types",
    ["extensible-destructuring", {"mode": "optout", "impl": "immutable"}]
  ],
  "env": {
    "production": {
      "presets": [
        ["env", {"modules": false}],
        "stage-0",
        "react"
      ]
    },
    "development": {
      "presets": [
        ["env", {"modules": false}],
        "stage-0",
        "react"
      ],
      "plugins": [
        "react-hot-loader/babel"
      ],
    },
    "test": {
      "presets": [
        "env",
        "stage-0",
        "react"
      ]
    }
  }
}
