{
  "presets": [
    ["env", {"modules": false}],
    "stage-0",
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    ["extensible-destructuring", {"mode": "optout", "impl": "immutable"}]
  ]
}
